// =========== COLORS ========== //
// 1- color-primary
// 2- color-secondary
// 3- nav-bar ---- hover effect colors
// 4- color-tertiary
// 5- color-grey-light
// 6- color-grey-dark
// 7- black and white
// 8- default font size
// 9- form-colors
// 10- contact icons
// ============================== //

// 1- color-primary
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-super-light: #53c78d7a;
$color-primary-super-light-1: #53c78da8;

// 2- color-secondary
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
// 3- nav-bar ---- hover effect colors
$line-through-color: #f9ca24;
// 4- color-tertiary
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
// 5- color-grey-light
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
// 6- color-grey-dark
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #383636cc;

// 7- black and white
$color-white: #fff;
$color-black: #000;

// 8- default font size
$default-font-size: 1.6rem;
// 9- form-colors
$color-primary-form: #ffb900;
$color-secondary-form: #55c57a;
// 10- contact icons
$contact-icon: #fff;
